main{
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4)), url("/img/fondo-pag-speciali.jpg");
    background-size: contain;
    .container{
        .cards{
            @include my-display-flex;
            flex-wrap: wrap;
            .card{
                width: calc((100% / 3) - 20px);
                img{display: block; width: 100%;}
            }
        }
    }
}
@media (max-width: $tablet) {
    main{
        .container{.cards{.card{width: calc((100% / 2) - 20px);}}}
    }
}
@media (max-width: $phone-wide) {
    main{
        .container{.cards{.card{width:100%;}}}
    }
}