// colors
$color-primary:      #002d73;
$color-secondary:    #b2e5fc;
$color-text:         #848d9b;
// font-size
$font-small:    14px;
$font-normal:   20px;
$font-med:      28px;
$font-big:      34px;
// container
$container-big:     1440px;
$container-basic:   1280px;
$container-small:   920px;
$container-xsmall:  800px;
// responsive
$phone:        400px;
$phone-wide:   480px;
$phablet:      560px;
$tablet-small: 640px;
$tablet:       768px;
$tablet-new:   912px;
$tablet-wide:  1024px;
$desktop:      1248px;
$desktop-wide: 1440px;